
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

*{
	box-sizing:  border-box;
	margin: 0;
}
.container{
	max-width: 1140px;
		margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}


 .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

 .section-title h1{
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700px;
	margin: 0 0 10px;
	color: #000000;
	position: relative;
}
.section-title h1:before{
	content: '';
	left: 0;
	position: absolute;
	height: 2px;
	right: 30%;
	background-color: #febd01;
	bottom: 0px;
}

.text-center{
	text-align: center!important;
}

.text-left{
	text-align: left!important;
}

.text-right{
	text-align: right!important;
}

header{
	position: absolute;
	left: 0px;
	right: 0px;
	border-bottom: 1px solid #423940;
	padding: 0px 15px;
	z-index: 10;
}

header .row{
	justify-content: space-between;
	align-items: center;
}

header .brand-name a{
	text-decoration: none;
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
    position: relative;
}



header .navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
header .navbar ul li{
 display: inline-block; 
 margin-left: 35px;
}

header .navbar ul li a{
	font-size: 15px;
	text-decoration: none;
	line-height: 72px;
	color: white;
	display: block;
	font-weight: 600;
	position: relative;
}

header .navbar ul li a::before{
	content: '';
	height: 3px;
	background-color: white;
	width:0%;
	position: absolute;
	right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}

header .navbar ul li a:hover::before{
  width: 100%;
  left: 0;
}

header .navbar ul li a.active::before{
  width: 100%;
  left: 0;
}

.home{
	min-height: 100vh;
	background-image: url("images/hero/lion.png");
	background-size: cover;
	background-position: center;
	background-color: grey;
	padding: 15px;
}

.home .full-screen{
	
	min-height: 100vh;
}

.home .home-content{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home .home-content .block{
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  border-left: 5px solid #000000; 
  margin-top: 50px;
}

.home .home-content .block h6{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	
}
.home .home-content .block h1{
	color: #ffffff;
	font-size: 60px;
	font-weight: 600;
	margin: 0 ;
	padding: 0;
	

}
.home .home-content .block h3{
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	margin: 0;
	padding: 0;

}

.home .home-content .block .cv-btn{
	padding-top: 20px;

}

.home .home-content .block .cv-btn a{
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 25px ;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  background-color: transparent;
}

.home .home-content .block .cv-btn a:hover{
	background-color: #ffffff;
	color: #000000;
}





/*About ME*/

.about-me{
padding: 100px 15px;
background-color: white;
}



.text-uppercase{
	text-transform: uppercase!important;
}

.about-me .section-title p.small{
display: block;
font-size: 14px;
color: #838383;
font-weight: 400;
letter-spacing: 2px
}


.about-me .about-content .img{
flex: 0 0 33.33%;
max-width: 33.33%;
}

.about-me .about-content .img img{
	width: 100%;
	display: block;
}

.about-me .about-content .text{
	flex: 0 0 66.66%;
	max-width: 66.66%;
	padding-left: 30px;

}

.about-me .about-content .text h4{
 font-size: 25px;
 font-weight: 600;
 margin: 0 0 5px;
 color: #000000;
}

.about-me .about-content .text h6{
 font-size: 18px;
 font-weight: 500;
 margin: 0 0 15px;
 color: #000000;
}

.about-me .about-content .text h6 span{
	color: #febd01;
}

.about-me .about-content .text p{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color:#838383;
	margin: 0 0 20px; 
}

.about-me .about-content .text .info{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.about-me .about-content .text .info .list{
	flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom:1px solid #dee2e6;
    padding-bottom: 10px;
}

.about-me .about-content .text .info .list label{
 padding-right: 10px;
 color: #000000;
 font-weight: 600;
 font-size: 15px;
}

.about-me .about-content .text .info .list p{
margin:0;

}

.about-me .about-content .text .social-links{
	padding-top: 25px;

}

.about-me .about-content .text .social-links a{
	height: 30px;
	width: 30px;
	background-color: #000000;
	border-radius: 3px;
	display: inline-block;
	border:1px solid #000000;
	line-height: 28px;
	text-align: center;
	margin: 0 1px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover{
	background-color: transparent;
}


.about-me .about-content .text .social-links a .fa{
	color: #ffffff;
	font-size: 12px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;

}
.about-me .about-content .text .social-links a:hover .fa{
	color: #000000;
}





/*services*/


.services{
	background-color: #f5f8fd;
	padding: 100px 0px 70px;
}

.services .section-title h1:before{
    left: 30%;	
}

.services .service-contents{
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services .service-contents .box{
	background-color: #ffffff;
	padding: 30px;
	flex: 0 0 calc(33.33% - 20px);
	max-width: calc(33.33% - 20px);
	margin-bottom:30px;
	border: 1px solid #eeeeee;
	text-align: center;
	position: relative;
	border-radius: 50%;
}

.services .service-contents .box::before{
content: '';
height: 2px;
background-color: #febd01;
position: absolute;
bottom: 0px;
width: 60px;
left: 0;
right: 0;
margin: auto;
transition: all .5s ease;
}

.services .service-contents .box:hover::before{
	width: 60%
}

.services .service-contents .box .icon{
	height: 60px;
	width: 60px;
    background-color: #febd01;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;

}

.services .service-contents .box .icon .fa{
	font-size: 25px;
	color: #ffffff;
	line-height: 60px;
}

.services .service-contents .box h5{

	font-size: 16px;
	font-weight: 600;
	color: #000000;
}

.services .service-contents .box p{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin: 10px 0 15px;
}

/*Skills*/


.skills{
	padding: 100px 15px;
	background-color: violet;
}

.skills .skills-content{
   flex: 0 0 50%;
   max-width: 50%;
   padding-right: 40px; 
}

.skills .img{
     flex: 0 0 50%;
   max-width: 50%;
}

.align-items-center{
	align-items: center;
}

.skilla .img img{
	width: 100%;
	display: block;
}

.skills .skills-content .section-title p{
font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin: 15px 0 20px;
}


.skills .skills-content .skill-box{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 30px;
}

.skills .skills-content .skill-box h6{
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	margin: 0 0 8px;
}

.skills .skills-content .skill-box .skill-bar{
	height: 6px;
	background-color: #eeeeee;
	position: relative;
	border-radius: 50%;
}


.skills .skills-content .skill-box .skill-bar .skill-bar-in{
	background-color: #febd01;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}



/*Blogs*/
.blogs{
	padding: 100px 15px;
	background-color: #cee5ce;
}

.blogs .section-title  h1:before{
	left: 30%;
}

.blogs .blogs-content{
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	

}

.blogs .blogs-content .box{
 flex: 0 0 calc(33.33% - 20px);
 max-width:calc(33.33% - 20px);
}

.blogs .blogs-content .box .img{

}

.blogs .blogs-content .box .img img{
  width: 100%;
  display: block;	
}

.blogs .blogs-content .box .info{
  padding: 10px 0;
}

.blogs .blogs-content .box .info span{
  font-size: 12px;
  color: #838383;
  display: inline-block;
}


.blogs .blogs-content .box .info span:nth-child(2){
	border-left: 1px solid #000000;
	padding-left: 8px;
	margin-left: 10px;
}

.blogs .blogs-content .box h3{
  font-size: 22px;
  font-weight: 600;
  color: black;
  margin: 0 0 10px;
  padding: 0;
 }


.blogs .blogs-content .box p{
font-size: 15px;
font-weight:400;
line-height:24px; 
color:grey;
margin: 0 0 10px;
}


.blogs .blogs-content .box a{
  font-size: 14px;
  color: #febd01;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #febd01;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}


.blogs .blogs-content .box a:hover{
	color: #000000;
	border-color: #000000;
}



/*contact us*/

.contact-us{
	padding: 100px 15px;
	background-color: #f5f8fd;
}

.contact-us .section-title h1:before{

	left: 30%;
}


.contact-us .contact-form{
	background-color: white;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 40px;
	border: 1px solid #eeeeee;
}

.contact-us .contact-form .text{
    flex: 0 0 100%;
	max-width: 100%;
	padding-bottom: 20px;	
}

.contact-us .contact-form .text h2{
	font-size: 26px;
	font-weight: 600;
	color: black;
	margin: 0;
	padding:0; 
}

.contact-us .contact-form .text p{
font-size: 15px;
font-weight:400;
line-height:24px; 
color:grey;
margin: 0px;
}

.contact-us .contact-form .space-between{
	justify-content: space-between;
}

.contact-us .contact-form .col-6{
	flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
}

.contact-us .contact-form .col-12{
	flex: 0 0 100%;
	max-width: 100%;
}


.contact-us .contact-form .form-control{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid #ced4da;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.contact-us .contact-form textarea.form-control{
  height: 140px;
}

.contact-us .contact-form .form-control::placeholder{
	color: #838383;
}

.contact-us .contact-form .button{
	flex: 0 0 100%;
	max-width: 100%;
}

.contact-us .contact-form .button a{
	border-radius: 4px;
	color: white;
	border:1px solid #ffffff;
	padding: 12px 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all .5s ease;
	background-color: #febd01;
	box-shadow: 0px 0px 15px #d5d5d5;

}

.contact-us .contact-form .button a:hover{
	background-color: black;
	color: white;
}


/*copyright*/
.copyright{
background-color: #0c0c17;
}
.copyright p{
color: #838383;
margin: 0;
text-align: center;
}
